.about{margin-top:0.92rem;
    .about_conent{
        h3{font:0.28rem/0.7rem "";color: #000;text-align: center;border-bottom:0.04rem solid #fdb060;width:1.68rem;margin:0 auto;}
        p{font:0.28rem/0.38rem "";text-indent: 0.56rem;color:#bab9b9;padding:0.15rem 0.55rem;}
    }
}