.cell{height:2.05rem;background: #fff;padding:0 0.25rem;
    .cell_top{overflow: hidden;
        h3{font-size:0.28rem;float: left;color:#000;}
        span{background: #ffab37;color:#fff;font-size:0.2rem;float: right;width:0.85rem;height:0.3rem;text-align: center;}
        i{background: url(../../assets/img/ceil_icon1.png) no-repeat;width:0.33rem;height:0.3rem;float: right;margin-left:0.05rem;}
    }
    .cell_bottom{
        .cell_bottom_l{float: left;margin-left:0.43rem;
            font-size:0.38rem;color:#fb4034;margin-top:1rem;
            span{font-size: 0.24rem;color: #ff7900;}
        }
        .cell_bottom_c{float: left;margin:0 0.56rem 0 0.87rem;margin-top:0.8rem;
            p{color: #9a9b9c;font-size:0.3rem;margin-bottom:0.1rem;
            span{color:#3d3c3c;margin-right: 0.05rem;}
            }
        }
        .cell_bottom_r{margin-top:0.28rem;float: left;}
    }
}