.goods{padding-top:0.92rem;
    .goods_bg{height:1.2rem;background: url(../../assets/img/goods.png) no-repeat;}
    ul{background: #fff;
        li{height:2.12rem;border-bottom:0.02rem solid #f6f6f6;padding:0.25rem 0;}
    }
}