.footer{width:7.5rem;height:1.2rem;padding-top:0.45rem;text-align: center;position: relative;bottom:0;}
.footer .foot_app{font-size:0.28rem;color:#494848;}
.footer .foot_app span{margin:0 0.1rem;}
.footer .foot_app a{color:#494848;}
.footer .foot_bei{font-size:0.26rem;color:#9a9b9c;line-height: 0.7rem;}